<div class="dashboard">
  <h1>Dashboard</h1>
  <div class="jumbotron">
    <h2>Welcome to the Admin Portal!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quam, odit excepturi possimus suscipit doloribus ut
      autem, modi ullam molestiae adipisci quo mollitia quae! Quo officia tenetur totam facilis earum.</p>
    <p><a class="btn btn-primary btn-lg" href="" role="button">Learn more</a></p>
  </div>
  <div class="dashboard-secondrow">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>At a Glance</strong></div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum blanditiis vitae amet excepturi ipsa. Hic, dicta, voluptates. Repudiandae ex adipisci hic vel, iure dolores voluptates quia eum dolorem sunt earum.</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Activity</strong></div>
      <div class="panel-body no-activity">
        <p class="smiley"></p>
        <p>No Activity Yet!</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Admin News</strong></div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque voluptatum itaque omnis voluptatibus possimus quod laborum blanditiis, voluptatem maiores recusandae earum iste corporis, ex beatae dicta libero esse enim porro.</p>
      </div>
    </div>
  </div>
</div>
