.dashboard.container {
	display: flex;
	flex-direction: column;
}
	.dashboard-secondrow {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.dashboard-secondrow div {
		flex-grow: 1;
	}
	
.smiley:before {
	  content: '\f328';
    font: 400 120px/1 dashicons;
    speak: none;
    display: block;
    margin: 0 5px 0 0;
    padding: 0;
    text-indent: 0;
    text-align: center;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-decoration: none!important;
}
.no-activity p {
	color: #999;
	font-size: 16px;
}